##############################################################################
#                                                                            #
# Filename        : .gitignore                                               #
# Description     : This file is used to tell git to ignore any specific     #
#                   file of files by pattern                                 #
# Author          : Bob Flemming                                             #
# Date            : 21 April 2022                                            #
#                                                                            #
#--------------------------- Amendment History ------------------------------#
# Date        | Author             | Description                             #
#----------------------------------------------------------------------------#
# dd/mm/yyyy  |                    |                                         #
##############################################################################

#----------------------------------------------------------------------#
# Ignore all  picture files ending in .png                             #
#----------------------------------------------------------------------#
*.png

